<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <!--<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>-->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

  <!--<div class="navbar-fixed">-->
    <!--<nav>-->
      <!--<div class="nav-wrapper">-->
        <!--<a href="#" class="brand-logo">Room Booking</a>-->
        <!--&lt;!&ndash;<form>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="input-field">&ndash;&gt;-->
            <!--&lt;!&ndash;<input id="search" type="search" required>&ndash;&gt;-->
            <!--&lt;!&ndash;<label for="search"><i class="material-icons">search</i></label>&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="material-icons">close</i>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</form>&ndash;&gt;-->
        <!--&lt;!&ndash;<ul id="nav-mobile" class="right hide-on-med-and-down">&ndash;&gt;-->
          <!--&lt;!&ndash;<li><a href="sass.html">Sass</a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li><a href="badges.html">Components</a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li><a href="collapsible.html">JavaScript</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
      <!--</div>-->
    <!--</nav>-->
  <!--</div>-->

  <div class="container">
    <!--div class="row">
      <div class="input-field col m3">
        <label>Room Number</label>
        <input id="text" type="text">

      </div>
      <div class="input-field col m3">
        <select >
          <option value="hunt">Hunt</option>
          <option value="hill">Hill</option>
        </select>
        <label>Library</label>
      </div>
      <div class="input-field col m3">
        <label>Min Capacity</label>
        <input type="number" name="Min Capacity">
      </div>
      <div class="input-field col m3">
          <input type="time">
      </div>

      <div class="input-field col m3">
        <input type="date">
      </div>
      <a class="waves-effect waves-light btn">button</a>

    </div>
  </div-->
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Library select</div>
      <div class="collapsible-body">
      
        <select >
          <option value="hunt">Hunt</option>
          <option value="hill">Hill</option>
        </select>
        
      
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Min capacity</div>
      <div class="collapsible-body"><label>Min Capacity</label>
        <input type="number" name="Min Capacity">
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i><input type="time"></div>
      <div class="collapsible-body"><p><input type="date"></p></div>
    </li>
    <li><a class="waves-effect waves-light btn">search</a> </li>
  </ul>
  </div>    
  <!--<h1>List of Rooms</h1>-->
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Room Number</th>
          <th>Library</th>
          <th>Status</th>
          <th>Book?</th>
        </tr>
      </thead>
    <% @rooms.each do |room| %>
        <tr>
          <td>
            <%= room.id %>
          </td>
          <td>
            <%= room.room_number %>
          </td>
          <td>
            <%= room.library %>
          </td>
          <!--<td>-->
            <!--<%# room.available? %>-->
          <!--</td>-->
          <td>
          </td>
          <td>
          
            <!---input type="submit" value="book" onclick="window.location = '/bookings/create'"-->
            <%= link_to 'Book', book_new_path %>


          </td>
          
        </tr>
    <% end %>
    </table>
  </div>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!--<script type="text/javascript" src="js/materialize.min.js"></script>-->
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script type="text/javascript" charset="utf-8">
   // $(document).ready(function() {
     // $('select').material_select();
    //});
    $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
  </script>

</body>