<h3>  Invite your friends by their email address : </h3>

<p>The email addresses should be comma separated.</p>

<%= form_tag :action => 'invite_send', :id => @some_object %>
<p><label for = "Email">Email</label>:

  <%= text_field 'Email' %></p>
  <%= submit_tag "Send" %>

<% end -%>